<a href="/index">
<div id="mainpage" style="width:100%;height:100%">
    <script>
        document.body.addEventListener("mousedown",function(){
            // window.location='/index';
            //window.location='/index';
        });
    </script>
</div>
</a>

<script>
    $('body').addClass('root');
</script>

<%# 이 페이지는 수정 그만해주세요 %>